{% extends 'base.html.twig' %}

{% block title %}Carrefour{% endblock %}

{% block body %}

    <div {{ vue_component('app') }}></div>

{% endblock %}

{% block javascripts %}
    <script>
        window.storage = {{ storage|json_encode|raw }};
    </script>
{% endblock %}